[submodule "protobuf/ProtoLink_protobuf"]
	path = protobuf/ProtoLink_protobuf
	url = git@github.com:TCatshoek/ProtoLink_protobuf.git
[submodule "protobuf/nanopb"]
	path = protobuf/nanopb
	url = git@github.com:nanopb/nanopb.git
[submodule "lib/arduino-Max72xxPanel"]
	path = lib/arduino-Max72xxPanel
	url = git@github.com:TCatshoek/arduino-Max72xxPanel.git
